* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1B262C;
    color: white;
    word-break: break-all;
}

li {
    display: flex;
    flex-direction: column;
    margin: 20px auto;
}

li span {
    margin: 10px;
}

h1 {
    margin: 20px auto;
    font-family: 'Mina', sans-serif;
    font-size:3rem;
    color:#fff;
    background-image: linear-gradient(45deg,#0ebeff 0%, #4a9fec 35%,#8780d9 85%, #a571d0 100%);
    -webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
}